<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.asksven.betterwifionoff"
      android:versionCode="20"
      android:versionName="1.0.0.0RC4">
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="15"/>
    
	<!-- Required to control wifi state -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
	<uses-permission android:name="android.permission.UPDATE_DEVICE_STATS"></uses-permission>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>

		<!-- Required to be able to hold wakelocks -->
	<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
	
	
	<!-- admob and ConnectivityManager-->
  	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  	<uses-permission android:name="android.permission.INTERNET"/>
  	
	<!--  required for writing own logs files -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    	<!--  start service on boot -->
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

		<!--  detect when battery is charged -->
    <uses-permission android:name="android.permission.BATTERY_STATS" />

    	<!-- detect  when screen is turned on/off-->
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<!-- detect unplug actions -->
	<uses-permission android:name="android.permission.DEVICE_POWER" />
	
	<!-- access own logcat -->
	<uses-permission android:name="android.permission.READ_LOGS" />	
	
    <application android:icon="@drawable/ic_launcher" android:label="@string/app_name">
        <activity android:name=".MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<activity android:name=".ReadmeActivity"/>
		<activity android:name=".PreferencesActivity"/>
		<activity android:name="com.google.ads.AdActivity"
              android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>
		
		
        <receiver android:name=".handlers.BroadcastHandler">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>    
        </receiver>        
        <receiver  android:process=":remote" android:name=".WifiOffAlarmReceiver"/>
        <receiver  android:process=":remote" android:name=".WifiConnectedAlarmReceiver"/>
        
        <service android:name=".services.EventWatcherService"/>
        <service android:name=".services.SetWifiStateService"/>
        
    </application>
</manifest>